# Ignore drupal core.
docroot/core

# Ignore paths that contain user-generated content.
docroot/sites/*/files
/files-private
docroot/sites/*/private

# Ignore contrib modules. These should be created during build process.
docroot/modules/contrib
docroot/themes/contrib
docroot/profiles/contrib
docroot/libraries

#Composer vendor
vendor/
vendor/.git